<main class="landing-main">

  <section class="hero-section">
    <h1 class="text-display"><%= t("landing.title") %></h1>
    <%# <p class="text-hero">No fancy slogans here. Just take a look and decide for yourself.</p> %>
    <%# <p class="text-hero">Good for small teams without enterprise needs</p> %>
    
  </section>

  
    

              
  

  
  <section class="email-first-card">

    <form class="email-first-form column" action="#" method="post">


      <%= render "shared/input",
        label: "Name your workspace",
        name: "workspace",
        type: "text",
        placeholder: "Acme company",
        required: false,
        size: :medium,
        wrapper_class: "email-first-input"
      %>


      <%= render "shared/input",
        label: "Project name",
        name: "project_name",
        type: "text",
        placeholder: "Development",
        required: false,
        size: :medium,
        wrapper_class: "email-first-input"
      %>
    
      <%= render "shared/input",
        label: "Your email",
        name: "email",
        type: "email",
        placeholder: "you@example.com",
        required: true,
        size: :medium,
        wrapper_class: "email-first-input"
      %>
      
      <div class="hero-section-buttons">
      <%= render "shared/button", 
        text: "Continue with email", 
        variant: :contrast, 
        type: :submit, 
        class: "email-first-button",
        size: :medium
      %>

      <%= render "shared/button", 
        text: "Continue with Google", 
        variant: :default, 
        type: :submit, 
        class: "email-first-button",
        size: :medium
      %>
      </div>
    </form>

  </section>
  

    



  <footer class="footer">
    <p>&copy; 2025, Instantum </p>
  </footer>  
</main>

