<aside class="ui-kit-sidebar">
  <nav class="ui-kit-nav">
    <ul class="ui-kit-nav-list">
      <li>
        <%= link_to "Buttons", ui_kit_buttons_path, class: "ui-kit-nav-link" %>
      </li>
      <li>
        <%= link_to "Selects", ui_kit_selects_path, class: "ui-kit-nav-link" %>
      </li>
      <li>
        <%= link_to "Inputs", ui_kit_inputs_path, class: "ui-kit-nav-link" %>
      </li>
      <li>
        <%= link_to "Dialogs", ui_kit_dialogs_path, class: "ui-kit-nav-link" %>
      </li>
      <li>
        <%= link_to "Typography", ui_kit_typography_path, class: "ui-kit-nav-link" %>
      </li>
    </ul>
  </nav>
</aside>

