<%#
  Layout Header Partial
  Global application header with user info and sign out link
  Uses user_signed_in? and current_user from Devise
%>

<header class="layout-header">
  <div class="layout-header--left">
    <span class="layout-header--brand"><%= link_to t("common.app_name"), root_path %></span>
    <span class="layout-header--brand"><%= link_to "UI Kit", ui_kit_root_path %></span>
  </div>

  <% if user_signed_in? %>
    <div class="layout-header--right">
      <nav class="layout-header--nav">
        <%= link_to t("projects.nav.index"), projects_path, class: "layout-header--link" %>
        <%= link_to t("projects.nav.new"), new_project_path, class: "layout-header--link" %>
      </nav>

      <div class="layout-header--actions">
        <span class="layout-header--email"><%= current_user.email %></span>
        <%= form_with url: destroy_user_session_path, method: :delete, local: true do |f| %>
          <%= f.submit t("common.sign_out"), class: "btn btn-basic btn-small" %>
        <% end %>
      </div>
    </div>
  <% end %>
</header>

