<%#
  Layout Header Template
  Global application header with user email and sign out link
  See layout_header.rb for component logic and layout_header.scss for styles
%>

<header class="layout-header">
  <% if signed_in? %>
    <nav class="layout-header-nav">
      <%= link_to t("projects.nav.index"), projects_path, class: "layout-header-link" %>
      <%= link_to t("projects.nav.new"), new_project_path, class: "layout-header-link" %>
    </nav>

    <div class="layout-header-actions">
      <span class="layout-header-email"><%= user.email %></span>
      <%= form_with url: destroy_user_session_path, method: :delete, local: true do |f| %>
        <%= render Button::ButtonComponent.new(
          text: t("common.sign_out"),
          type: "submit",
          variant: :basic,
          size: :small
        ) %>
      <% end %>
    </div>
  <% end %>
</header>

